<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="bargraph">
                <h1>Visualisations</h1>
                <a href="/visualisations">Visualisations</a>
                <a href="/visualisations/metrix">Metrix</a>
                {% block body %}
                Achoj!
                {% endblock %}
            </div>
        </div>

    </div>
</div>
</body>
</html>